.container {
  margin-top: 96px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* width: 800vw; */
  /* padding: 0 24px; */
}

.iconContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* gap: 16px; */
  /* padding: 16px; */
}

.h1 {
  margin-bottom: 0px;
}

.explain {
  font-size: 1.125rem;
}

.lightPurple {
  color: #e011a7;
}

.profileGrid {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  color: black;
  max-width: fit-content;
}

.profileContainer {
  border-radius: 10px;
  background-color: white;
  padding: 26px;
  margin: 15px;
  margin-top: 1rem;
  height: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 240px;
  height: 300px;
  text-decoration: none;
  color: inherit;
}

/* on hover */
.profileContainer:hover {
  background-color: rgba(0, 0, 0, 0.25);
  color: white;
  border: 3px solid white;
  /* animate */
  transition: 0.3s;
}

.profileName {
  font-size: 1.25rem;
  padding-bottom: 0px;
  margin-bottom: 8px;
}

.profileHandle {
  margin-top: 0px;
  padding-top: 0px;
  padding: 8px;
  opacity: 0.85;
}
